<div class="col-md-6 offset-md-3"></div>
<h3>Edit a dispense</h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label> Day </label>
        <input type="number" class ="form-control" id = "day"
            [(ngModel)] = "dispense.day" name = "day">
    </div>

    <div class="form-group">
        <label> Hour </label>
        <input type="number" class ="form-control" id = "hour"
            [(ngModel)] = "dispense.hour" name = "hour">
    </div>
        
    <div class="form-group">
        <label> Minute </label>
        <input type="number" class ="form-control" id = "minute"
            [(ngModel)] = "dispense.minute" name = "minute">
    </div> 

    <div class="form-group">
        <label> Amount </label>
        <input type="number" class ="form-control" id = "amount"
            [(ngModel)] = "dispense.amount" name = "amount">
    </div> 

    <div class="form-group">
        <label> Repeat </label>
        <input type="checkbox" class ="form-control" id = "repeating"
            [(ngModel)] = "dispense.repeating" name = "repeating">
    </div> 

    <button class="btn btn-success" type="submit">Submit</button>
</form>